/* body styles */
body {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Title styles */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* From all the links */
a {
    text-decoration: none; /* remove the underline */
    color: inherit;    /* remove the blue colour */
}

/* Flexbox the nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center; /* horizontal center */
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 20px; /* gap before the main */
}

nav a {
    text-decoration: none; /* remove the underline */
    color: #333;
    padding: 10px;
    text-align: center; /* center the text */
}


/* Flexbox the main three cards a row */
main {
    display: flex;
    flex-wrap: wrap;    /* split items onto next row */
    justify-content: space-between;
}


/* Card styles as a column */
.card {
    flex-basis: 28%;    /* three items per row */
    
    /* Flexbox the card */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 4px;
}

.card-image {
    flex: 2; /* set each image to consistent height */
}

.card-image img {
    /*width: 100%;*/
    height: 200px;
    overflow: hidden;    /* crop image */
    border-radius: 4px;
}

.card-content {
    flex: 1;
    vertical-align: text-top;
}

.card-content h2 {
    margin-bottom: 10px;
    text-align: center;
}

.card-content p {
    margin-bottom: 5px;
}

/* Profile page */
.person {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.person h2 {
    flex-basis: 100%;    /* make the h2 take up the whole row */
    text-align: center;
}


/* Style the portrait in the profile page */
.person img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}